body{ background-color: #ffd369;

  }

  button:hover{ background-color: blue;}
    button{
    align-content: center;
    align-items: center;
    margin-left: 15%;
    background-color: #ffd369;
    border: solid 1px black;
    padding: 5px; 
    font-family: 'Anton', sans-serif;
    cursor: pointer;
    box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
  }

    .header{
    background-color: black;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: seashell;
    display: flex;
    flex-direction: row;
    
    justify-content: stretch;
    width: 100%;
   }

    .item {
        color: seashell;
        font-family: 'Anton', sans-serif;
        font-size: 16px;
<<<<<<< HEAD
<<<<<<< Updated upstream
        margin-left: 150px;
        margin-top: 60px;
        padding: 10px;}
=======
        position: absolute;
        left: 870px;
        }
>>>>>>> Stashed changes
=======
        position: absolute;
        left 250px;
        }
>>>>>>> 57720601afd3e65dfd380a2f477c5217f489546f

 .joke-display,.second-display {
     border: 2px black solid;
     height: auto;
    width: auto;
    font-family: 'Anton', sans-serif;
<<<<<<< Updated upstream
    color: seashell;
<<<<<<< HEAD
margin-left: 150px;
margin-top: 60px;}
=======
    color: black;
    margin-left: 100px;
    margin-top: 60px;
    background-color: rgba(241,231,103,1);}
=======
    margin-left: 150px;
    margin-top: 60px;}
>>>>>>> 57720601afd3e65dfd380a2f477c5217f489546f

    .second-display, #gif-display{
      height: 50%;
      
    }
    
    #gif-display{
      height: 70%;
>>>>>>> Stashed changes

    }
 .main-container{
     align-content: center;
     align-items: center;
     border: 2px black solid;
     box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
    margin-left: 10%;
    margin-top: 20px;
     overflow: hidden;
     padding: 10px;
     height: 520px;
     width: 960px;

    background: url(background1.jpeg);
   
    background-size: 100%;
    background-repeat: no-repeat;
 }

 