*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{ 
  align-items: center;
  align-content: center;
  background-color: #ffd369;
  display: inline-flexbox;
  justify-content: center;}

  .header {
  background-color: #27496d;
  border-bottom: 5px solid black;
  color: seashell;
  display: flex;
  font-family: 'Anton', sans-serif;
  height: 30px;
  justify-content: space-between;
  padding: 2px;
  
}
    .title, .intro {
      align-items: center;
      color: seashell;
      display: flex;
      flex: 3;
      font-size: 16px;
      margin-left: 150px;
      flex-wrap: nowrap;
      padding: 10px; }

button:hover {background-color: #27496d;}

.button{
  align-self: center;
  background-color: #ffd369;
  border: solid 1px black;
  box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
  color: black;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  margin-top: 10px;
  padding: 3px;}

#titlebtn{
  background-color: #ffd369;
  border: solid 1px black;
  padding: 0;
}

   #redirect{
     background-color: #ffd369;
     border: solid 1px black;
     color: black;
     padding: 20px 34px;
     text-align: center;
     display: inline-block;
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;
     position: absolute;
     top: 200px;
     left: 800px;
}

 .flex-container{
     align-content: center;
     align-items: center;
     background: url(background3.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     border: 2px black solid;
     box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
     display: flexbox;
     flex-direction: row;
     justify-content: center;
      margin-left: 13%;
      margin-top: 20px;
     overflow: hidden;
     padding: 10px;
     text-align: center;
     height: 540px;
     width: 960px;}

  .joke-display {
    background-color: rgba(69, 67, 212, 0.473);
     border: 2px black solid;
     color: black;
     flex: 1;
     font-family: 'Anton', sans-serif;
     height: auto; 
     justify-content: space-around;
     margin-top: 40px;
     width: auto;
   }
  
  .search-container{
    flex: 1;
    justify-content: space-around;
    margin-top: 10px;
  
  }
    .second-display, #gif-display{
      align-items: center;
      align-content: center;
      background-color: rgba(69, 67, 212, 0.473);
      border: 2px black solid;
      color: black;
      font-family: 'Anton', sans-serif;
      height: 300px;
      margin-left: 350px;
      margin-top: 10px; 
      justify-content: center;
      overflow: hidden; 
      width: 300px;
     }
#jokesonyou{
  border: #27496d solid 4px;
  margin-left: 200px;
  margin-top: 30px;

}
 

.footer {
  background-color:#27496d;
  bottom: 0;
  border-top: 5px solid black;
  color: white;
  height: 30px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

 
